{% extends 'shop/basic.html' %}
{% block title%} Checkout - My Awesome Cart{% endblock %}
{% block css %}
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Handlee&family=Teko&family=Titillium+Web:wght@300&display=swap');
body{
    background-color:LightCyan;
}
.navbar-brand,f1{
    font-family: 'Handlee', cursive;
    font-weight:bold;
    font-size:20px;
    color:green;
}
.navbar-dark .navbar-brand {
    color:Orange;
}
.navbar-expand-lg .navbar-collapse {
    font-family: 'Handlee', cursive;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: Cyan;
}
.navbar-dark .navbar-nav .nav-link {
    color:Cyan;
}
a.navbar-brand{
    padding-top:10px;
}
.container{
    background-color:HoneyDew;
}
h2{
    font-family: 'Handlee', cursive;
    font-weight:bolder;
}
.breadcrumb-item{
    font-family: 'Teko', sans-serif;
    font-size:21px;
    background-color:light blue;
}
.blog-footer{
    background-color: black;
    color: white;
    margin-top: 12px;
    font-family: 'Handlee', cursive;
  }

{% endblock %}
{% block body %}
<div class="container">
    <div class="col my-4">
        <h2>Step 1 - My Awesome Cart Express Checkout - Review Your Cart Items</h2>
        <div class="my-4">
            <ul class="list-group" id="items">
            </ul>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mt-3">
                    <li class="breadcrumb-item active" aria-current="page">Your Cart Total Is <b>Rs.<span id="totalPrice"></b>  </span>Enter your details below & place your order. Thanks for using My Awesome Cart!</li>
                </ol>
            </nav>
            
        </div>
    </div>
    <div class="col my-4">
        <h2>Step 2 - Enter Address & Other Details to place your Order.</h2>
        <div class="my-2">
            {% if user.is_authenticated %}
            <form method="post" action="/shop/checkout/handlerequest">{% csrf_token %}
                <input type="hidden" name="itemsJson" id="itemsJson">
                <input type="hidden" name="amount" id="amount">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputname">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Address line 2</label>
                    <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="city" name="city">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <input type="text" class="form-control" id="state" name="state"  placeholder="Enter State">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="zip_code" name="zip_code">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputZip">Phone Number</label>
                    <input type="tel" class="form-control" id="phone" name="phone">
                </div>
                <button type="submit" class="btn btn-primary">Pay Now&Place Order</button>
                <script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_3sCELvmYuTP2jf"
    data-amount="5000000"// Amount is in currency subunits. Hence, 29935 refers to 29935 paise or ₹299.35.
    data-currency="INR"// You can accept international payments by changing the currency code. Contact our Support Team to enable International for your account
    data-order_id="{{receipt}}"// Replace with the order_id generated by you in the backend.
    data-name="PROFESSIONAL CIPHER"
    data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
    data-image="https://example.com/your_logo.jpg"
    data-prefill.name="Gaurav Kumar"
    data-prefill.email="gaurav.kumar@example.com"
    data-theme.color="#F37254">
</script>
            </form>
            {% else %}
            <p style="font-family:Copperplate;font-size:bold;font-size: 25px;text-align: center;background-color: aquamarine;"><b>Please login first to Place Your Order</b></p>
            {% endif %}

       
    </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
console.log(cart);
var sum = 0;
var totalPrice = 0;
if ($.isEmptyObject(cart)) {
    //if object is empty
    mystr = `<p>Your cart is empty, please add some items to your cart before checking out!</p>`
    $('#items').append(mystr);
} else {
    for (item in cart) {
        let name = cart[item][1];
        let qty = cart[item][0];
        let itemPrice=cart[item][2];
        sum = sum + qty;
        totalPrice=totalPrice+qty*itemPrice;
        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                </li>`
        $('#items').append(mystr);
    }
}
document.getElementById('cart').innerHTML = sum;
document.getElementById('totalPrice').innerHTML = totalPrice;
console.log(totalPrice);
$('#itemsJson').val(JSON.stringify(cart));
 {% if thank %}
alert('Thanks for ordering with us. Your order id is {{id}}. Use it to track your order using our order tracker');
localStorage.clear();
document.location = "/shop";
 {% endif %}
$('#amount').val($('#totalPrice').html())
</script>
{% endblock %}
